<!DOCTYPE html>
<html>
  <head>
    <title>Onoffmixclone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="header">
     <h1 class="header__logo">ONOFFMIX</h1>
     <ul class="header__menu-items">
       <li class="header__menu-item"><%= link_to "ABOUT", static_pages_about_path %></li>
       <li class="header__menu-item"><%= link_to "PROJECTS", projects_path %></li>
     </ul>
   </nav>
    <%= yield %>
  </body>
</html>
